#history-prompt
{
	float:left;   
}

.cmd-prompt
{
	float:left;
}

.cmd-input
{
	min-height:18px;
	display: inline-block;
	outline: 0px solid transparent;
	clear:right;
}

.terminal-font
{
	font-family: 'Ubuntu Mono', sans-serif;
}

.tabbed
{
	margin-right:3em
}

.folder
{
	background-color: green;
}

#terminal
{
	background-color: black;
	color: white;
	height:80%;
	overflow-y: auto;
	overflow-x:hidden;
}