#history-prompt
{
	float:left;   
}

.cmd-prompt
{
	float:left;
}

.cmd-input
{
	min-height:20px;
	display: inline-block;
	word-wrap: break-word;
	outline: 0px solid transparent;
	clear:right;
}

.terminal-font
{
	font-family: 'Ubuntu Mono', sans-serif;
}